<mat-card (click)="click()">
  <div id="card-content">
    <div id="image-container">
      <img
        id="thumbnail"
          [src]="
            cryptoService.isEncrypted()
              ? 'https://www.w3schools.com/howto/img_avatar2.png'
              : cryptoService.decrypt(person.picture)
              ? cryptoService.decrypt(person.picture)
              : 'https://www.w3schools.com/howto/img_avatar2.png'
          "
        alt=""
      />
    </div>
    <div id="text-container">
      <p id="name">{{ cryptoService.decrypt(person.name) }}</p>
      <div id="tag-container">
        <mat-chip-list #tagList aria-label="Tags">
          <mat-chip [class]="getTagClass(tag)" *ngFor="let tag of person.tags">
            {{ cryptoService.decrypt(tag.name) }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</mat-card>
