.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}
#banner-wrapper {
    width: 15rem;
}#banner {
    width: 100%;
}.toolbar-spacer {
  flex: 1 1 auto;
}