@import '../../../theme/theme.scss';

#register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
.register-form-field {
  max-width: 60%;
  width: 24rem;
}
.register-button {
  max-width: 30%;
  width: 12rem;
  margin: 0.25rem;
}

re-captcha {
    padding: 1rem;
    transform:scale(1);
    transform-origin:0;
}
#register-greeting {
        width: auto;
    height: 100%;
}
#register-greeting-wrapper{
    height: 30%;
    max-height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}
#background-ellipse {
    height: 30%;
    max-height: 20rem;
    min-width: 10rem;
    width: 35%;
    max-width: 30rem;
    position: absolute;
    border-radius: 50%;
    background: $accent-shade;
    z-index: -1;
}
