<div id="register-wrapper">
  <div id="register-greeting-wrapper">
    <div id="background-ellipse"></div>
  <img id="register-greeting" src="assets/welcome.png" alt="" srcset="">
  </div>
  <mat-form-field id='register-form-username' appearance="fill" class="register-form-field">
    <mat-label>Username</mat-label>
    <input
      matInput
      placeholder="Username"
      [formControl]="usernameFormControl"
      [(ngModel)]="username"
      required
    />
    <mat-error *ngIf="usernameFormControl.invalid">{{ getUsernameErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field id="register-form-password" appearance="fill" class="register-form-field">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      [(ngModel)]="password"
      [formControl]="passwordFormControl"
    />
    <button id="register-button-password-toggle"
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordFormControl.invalid">{{ getPasswordErrorMessage() }}</mat-error>
  </mat-form-field>
  
<re-captcha id="register-form-captcha"
    (resolved)="resolved($event)"
    [siteKey]="captchaSecret"
  ></re-captcha>
  <button id="register-button-register" mat-raised-button color="primary" class="register-button" [disabled]="!captcha||usernameFormControl.invalid||passwordFormControl.invalid" (click)="register()">Register</button>
  <button id="register-button-login" mat-stroked-button color="primary"class="register-button" routerLink="/user/login">Login</button>
</div>
